* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* COMMON */

/* FINE COMMON */

/* HEADER */
/* section my_sticky */
#my_sticky {
    height: 67px;
    background-color: #000000;
}

#my_sticky svg {
    width: 100px;
}
/* fine my_sticky */
/* / HEADER */


/* MAIN */
/* sezione jumbotron */
#jumbotron {
    background-image: url(../img/jumbo-bg.png);
    width: 100%;
    height: 800px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 300px 0 50px 0;
}

#jumbotron img {
    max-width: 70%;
    margin-bottom: 30px;
}

#jumbotron a {
    background-color: #CD3D0F;
    color: white;
}
/* fine jumbotron */







/* DEBUG */