* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* COMMON */

/* FINE COMMON */

/* HEADER */
/* section my_sticky */
#my_sticky {
    height: 67px;
    background-color: #000000;
}

#my_sticky svg {
    width: 100px;
}
/* fine my_sticky */
/* / HEADER */


/* MAIN */
/* sezione jumbotron */
#jumbotron {
    background-image: url(../img/jumbo-bg.png);
    width: 100%;
    height: 800px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 300px 0 50px 0;
}

#jumbotron img {
    max-width: 70%;
    margin-bottom: 30px;
}

#jumbotron a {
    background-color: #CD3D0F;
    color: white;
}

.my_row_jumbo {
    max-width: 100%
}
/* fine jumbotron */

/* main sezione 1 */
#main_sez_1 img {
    width: 100%;
    border-radius: 20px;
}
/* fine main sezione 1 */

/* inzio main sezione 2 */
#main_sez_2 img{
    width: 80%;
}

.my_button_ps5 {
    width: 200px;
}
/* fine main sezione 2 */

/* secondo jumbotron */
#jumbotron_2 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    width: 100%;
    height: 800px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px 0 50px 0;
    margin-top: 100px;
}

#jumbotron_2 img {
    max-width: 70%;
    margin-bottom: 30px;
}

#jumbotron_2 a {
    background-color: #CD3D0F;
    color: white;
}
 /* fine secondo jumbotron */

/* inizio main sezione 3 */
#main_sez_3 {
    background-color: #1F1F1F;
}

#main_sez_3 img {
    width: 100%;
    border-radius: 20px;
}

#main_sez_3 .fa-trademark {
    position: relative;
    bottom: 5px;
    font-size: 10px;
}
/* fine main sezione 3 */

/* inizio main sezione 4 */
#main_sez_4 .fa-registered {
    position: relative;
    bottom: 12px;
    right: 10px;
    font-size: 15px;
}

#main_sez_4 img {
    width: 100%;
}

#main_sez_4 a {
    width: 150px;
}
/* fine main sezione 4 */

/* inizio main sezione 5 */
#main_sez_5 {
    width: 100%;
    height: 500px;
    background-color: #BEBCBB;
    background-image: url(../img/ps-plus-april-monthly-games-featured-image-block.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 95%;
    padding: 100px 0 50px 0;
}

#main_sez_5 img {
    max-width: 30%;
    margin-bottom: 30px;
}

#main_sez_5 a {
    background-color: #D9DADC;
}
/* fine main sezione 5 */

/* inizio main sezione 6 */
#main_sez_6 img {
    width: 100%;
    height: 500px;
    object-fit: contain;
}
/* fine main sezione 6 */

/* terzo jumbotron */
#jumbotron_3 {
    width: 100%;
    height: 400px;
    background-color: #161C3B;
}

#my_img_jumbo {
    max-width: 70%;
    margin-bottom: 30px;
}

#my_img-jumbo_2 {
    height: 400px;
    object-fit: contain;
    padding-right: 100px;
}
/* fine jumbotron */

/* inizio main sezione 7 */
.my_social {
    height: 200px;
}
/* fine main sezione 7 */
/* / MAIN */

/* FOOTER */
footer {
    background-color: #00439C;
    width: 100%;
    height: 600px;
}

footer #img_foot_1 {
    width: 3%;
}

footer #img_foot_2 {
    width: 10%;
}



footer ul li  {
    color: white;
    list-style: none;
    font-size: 20px;
    padding-top: 15px;
    padding-right: 100px;
}
















@media (max-width: 768px) {
    #main_sez_5 {
        background-image: none;
    }

    #my_img-jumbo_2 {
        display: none;
    }

}

/* DEBUG */