* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* COMMON */

/* FINE COMMON */

/* HEADER */
/* section my_sticky */
#my_sticky {
    height: 67px;
    background-color: #000000;
}

#my_sticky svg {
    width: 100px;
}












/* DEBUG */