* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* COMMON */

/* FINE COMMON */

/* HEADER */
/* section my_sticky */
#my_sticky {
    height: 67px;
    background-color: #000000;
}

#my_sticky svg {
    width: 100px;
}
/* fine my_sticky */
/* / HEADER */


/* MAIN */
/* sezione jumbotron */
#jumbotron {
    background-image: url(../img/jumbo-bg.png);
    width: 100%;
    height: 800px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 300px 0 50px 0;
}

#jumbotron img {
    max-width: 70%;
    margin-bottom: 30px;
}

#jumbotron a {
    background-color: #CD3D0F;
    color: white;
}

.my_row_jumbo {
    max-width: 100%
}
/* fine jumbotron */

/* main sezione 1 */
#main_sez_1 img {
    width: 100%;
    border-radius: 20px;
}
/* fine main sezione 1 */

/* inzio main sezione 2 */
#main_sez_2 img{
    width: 80%;
}

.my_button_ps5 {
    width: 200px;
}
/* fine main sezione 2 */

/* secondo jumbotron */
#jumbotron_2 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    width: 100%;
    height: 800px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px 0 50px 0;
    margin-top: 100px;
}

#jumbotron_2 img {
    max-width: 70%;
    margin-bottom: 30px;
}

#jumbotron_2 a {
    background-color: #CD3D0F;
    color: white;
}
 /* fine secondo jumbotron */

/* inizio main sezione 3 */
#main_sez_3 {
    background-color: #1F1F1F;
}

#main_sez_3 img {
    width: 100%;
    border-radius: 20px;
}

#main_sez_3 .fa-trademark {
    position: relative;
    bottom: 5px;
    font-size: 10px;
}
/* fine main sezione 3 */



/* DEBUG */